<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689677381423-citoqd91eqgnad79h68el1j8qj2nid94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689677381423-citoqd91eqgnad79h68el1j8qj2nid94</string>
	<key>API_KEY</key>
	<string>AIzaSyAvslXiFlzwm0RHircggclSzjTzgAErieI</string>
	<key>GCM_SENDER_ID</key>
	<string>689677381423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.s4fe.app</string>
	<key>PROJECT_ID</key>
	<string>s4fe-a703a</string>
	<key>STORAGE_BUCKET</key>
	<string>s4fe-a703a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689677381423:ios:811569b8102fbe1aa47bda</string>
	<key>DATABASE_URL</key>
	<string>https://s4fe-a703a.firebaseio.com</string>
</dict>
</plist>